.view-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.user-table{
    display: flex;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.head td {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.body td{
    padding: 10px;
    font-size: 20px;
}

.view-back-btn{
    margin-right: 80px;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: whitesmoke;
    cursor: pointer;
}